%p
  .download-info
= link_to 'Add a Match', new_game_path, :class=>"btn btn-primary btn-large"
%hr/
%h2 Games List
#row
  #span12
    %table{:class => "table table-striped"}
      %thead
        %tr
          %th #
          %th Sport
          %th Date
          %th location
      %tbody
      - @games.each_with_index do |game, index|
        %tr
          %th= index + 1 
          %th= link_to game.sport, game
          %th= game.date
          %th= game.location