.row-fluid
  .span4
    = image_tag("center_ball.jpg")
    
    .btn-group
      %button.btn= link_to 'Edit Details', edit_game_path(@game)
      %button.btn= link_to 'Delete Game', @game, confirm: 'Are you sure you want to delete this game?', method: :delete
  .span8 
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Details
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"}
            - case @game.players.count
              - when 0..6
                = "Players"
                %span.badge.badge-important= @game.players.count
              - when 7..9
                = "Players"
                %span.badge.badge-warning= @game.players.count
              - when 10
                = "Players"
                %span.badge.badge-success= @game.players.count 
    .tab-content
      #tab1.tab-pane.active
        %h3 Details 
        %p
          %b Sport:
          = @game.sport
        %p
          %b Date:
          = @game.date
        %p 
          %b Location:
          = @game.location
        %p 
          %b Max Players:
          = @game.allowed_number_of_players
        %p 
          %b Price:
          = "#{@game.price} €"
        .row-fluid
          .span3
            %p
              %h6
                = "#{time_ago_in_words @game.created_at} ago | #{@game.comments.length} comments"
      #tab2.tab-pane
        .span4
          %table.table
            %tbody
              - @game.players.each_with_index do |player, index|
                %tr
                  %th= index + 1
                  %th= player.name.capitalize
                  %th
                    %button.btn.btn-mini= link_to "<i class=\"icon-remove\"></i>".html_safe, {player: player, game: @game}, confirm: "Are you sure you want to remove #{player.name}?", method: :delete
        .span4 
          =render :partial => "players/form"
#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"} Write a comment
    #collapseOne.accordion-body.collapse{:style => "height: 0px;"}
      .accordion-inner
        = render :partial => 'comments/form'
%table{ :class => "table table-bordered"}
  - @game.comments.desc(:created_at).each do |comment|
    .well
      %p
      = comment.content
      %p
      %h6= comment.created_at