.row-fluid
  .span4
    = image_tag("center_ball.jpg")
    
    .btn-group
      %button.btn= link_to 'Edit Details', edit_game_path(@game)
      %button.btn= link_to 'Delete Game', @game, confirm: 'Are you sure you want to delete this game?', method: :delete
  .span8 
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Details
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Players
      .tab-content
        #tab1.tab-pane.active
          %h3 Details 
          %p
            %b Sport:
            = @game.sport
          %p
            %b Date:
            = @game.date
          %p 
            %b Location:
            = @game.location
        #tab2.tab-pane
          %p Howdy, I'm in Section 2.     
  .row-fluid
    .span12
      %p
      %h6
        = time_ago_in_words @game.created_at
        ago | #{@game.comments.length} comments
#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"} Write a comment
    #collapseOne.accordion-body.collapse{:style => "height: 0px;"}
      .accordion-inner
        = render :partial => 'comments/form'
%table{ :class => "table table-bordered"}
  - @game.comments.desc(:created_at).each do |comment|
    .well
      %p
      = comment.content
      %p
      %h6= comment.created_at