!!!
%html
  %head
    %title Wanna Play
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png'
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    / ==========================NavBar Top===============================
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %td= link_to 'WannaPlay', games_path, :class => 'brand'
          .nav-collapse
            %ul.nav
              - if user_signed_in?
                %li
                  -if current_user.username
                    = link_to current_user.username
                  -else
                    = link_to current_user.email
                %li
                  = link_to('Impostazioni account', edit_user_registration_path)
                -if current_user.admin?  
                  %li
                    = link_to('Dashboard', rails_admin.dashboard_path)
                %li
                  = link_to('Esci', destroy_user_session_path, :method => :delete)
              - else
                %li
                  = link_to('Connettiti', new_user_session_path)
                %li
                  = link_to('Registrati', new_user_registration_path)
    - if flash[:alert]
      .row-fluid
        #alert.alert.alert-block
          %a#close.close{"data-dismiss" => "alert"} ×
          %h4.alert-heading Warning!
          = flash[:alert]
    - if flash[:notice]
      #alert.alert.alert-success
        %a#close.close{"data-dismiss" => "alert"} ×
        %h4.alert-heading Yeah!
        = flash[:notice]
    .container-fluid
      = yield
  %footer
    = javascript_include_tag "application"
    :javascript
      $("[data-behaviour~='datepicker']").datepicker({
        "format"         : "dd MM yyyy",
        "todayHighlight" : true,
        "todayBtn"       : true,
        "weekStart"      : 1,
        "autoclose"      : true,
        "language"       : 'it'
      });
    = javascript_include_tag "application"
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
          :javascript
      $('#close').click(function(){
        $('#alert').hide();
      });
      